%btn-shadow-simple {
    box-shadow: 0 1px 1px rgba(0,0,0,.1)
}
.btn {
  text-transform: uppercase;
  padding: 2px 20px;
  line-height: 32px;
  font: {
    size: 13px;
    weight: 500
  }
  color: $white;
  border-radius: 2px;
  @extend %btn-shadow-simple;
  &:hover {
    color: $white;
    text-decoration: none
  }
  &-sm{
    padding: 2px 15px;
    line-height: 21px
  }
  &-link {
    background: transparent;
    color: #007bff;
    box-shadow: none;
    text-transform: capitalize;
    &:hover {
      color: #007bff;
      text-decoration: underline;
    }
  }
  &-rounded {
    border-radius: 30px
  }
  &-secondary {
    color: $black;
    &:hover {
      color: $black
    }
  }
  &-facebook {
   background: #3b5998
  }
  &-twitter {
    background: #00aced
  }
  &-youtube {
    background: #bb0000
  }
  &-instragam {
    background: #517fa4
  }
  &-tvtime {
    background: #FFD700
  }
  &-imdb {
    background: #DEB522
  }
  &-whatsapp {
    background: #34af23
  }
  &-google {
    background: #da4d39
  }
}
.mega-btn {
  padding: .8rem 0;
  width: 100%;
  font: {
    size: 16px;
    weight: 600
  }
  text: {
    align: center;
    transform: uppercase;
    decoration: none
  }
  background: $green;
  color: $black;
  transition: all .5s;
  &:hover {
    color: #232526;
    background: $green-secondary
  }
}
.mega-btn .fa {
  font-size: 20px
}
.btn-outline-primary {
    color: #0069D9;
    border: 2px solid $primary;
    &.disabled,
    &:disabled {
      color: $primary;
      &:hover {
        color: $primary
      }

    }
}
.btn-outline-secondary {
  border: 2px solid #CCC;
  color: #414141;
  &:hover {
    color: #414141
  }
}

.btn-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 4px;
  transition: all .5s;
  color: $white;
  @extend %btn-shadow-simple;
  &:hover {
    text-decoration: none;
    color: $white
  }
}
