%chip-base {
  padding-right: 15px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  color: #232323;
  margin: 3px 15px 2px 0px;
  float: left;
  display: flex;
  &:hover {
    text-decoration: none
  }
  img {
    margin: 0 4px 0 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  .material-icons {
    line-height: inherit;
    margin: 0 5px;
    font-size: 22px;
    color: $blue
  }
}

.chip {
  @extend %chip-base;
  background: #efefef;
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $blue
  img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
  }
}
.chip-lite {
  @extend %chip-base
}
