<template lang="html">
  <div>
    <Author />
    <b-card no-body tag="article">
        <img src="http://placehold.it/1200x500"/>
        <b-link href="#" class="card-title">
            <h2>Title</h2>
        </b-link>
      <div class="card-body info">
        <b-link href="#" class="chip">
        <img src="http://placehold.it/35x35" /> Autor
        </b-link>
        <div class="chip"><i class="material-icons">date_range</i> data
        </div>
        <b-link href="#" class="chip"><i class="material-icons">new_releases</i>categoria
        </b-link>
        <b-link href="#" class="btn btn-primary float-right"> Ler matéria
        </b-link>
      </div>
      <div class="card-body">
          <p>descrição</p>
      </div>
    </b-card>
    <b-pagination></b-pagination>
  </div>
</template>

<script>
import Author from './Author'

export default {
  components: { Author }
}
</script>

<style lang="scss">

</style>
