<template lang="html">
  <div>
    <b-breadcrumb :items="items"/>
    <b-card no-body tag="article">
              <img src="https://images.hdqwalls.com/download/deadpool-movie-4k-et-1920x1080.jpg" :alt="blog.url"/>
              <div class="card-body">
              <h1 class="text-center">{{ blog.title }}</h1>
                <p class="text-description">{{ blog.description }}</p>
              </div>

              <div class="card-body">
                <b-link href="#" class="chip">
                <img 
                  src="https://scontent.fgyn16-1.fna.fbcdn.net/v/t1.0-1/c0.62.160.160a/p160x160/105986922_3214999398539094_7175081472811073821_o.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=rBrqQC-yJ5sAX8QVxxa&_nc_ht=scontent.fgyn16-1.fna&_nc_tp=27&oh=92a62a0ff30fdebee5dc1f3d088b430f&oe=5F9FBAF1" 
                /> 
                {{blog.author.name}}
                   </b-link>
                  <div class="chip"><i class="material-icons">date_range</i> {{blog.created_at}}
                </div>
                  <b-link href="#" class="chip"><i class="material-icons">new_releases</i> {{blog.category.name}}
              </b-link>
              </div>

              <div class="card-body">
                <p class="card-text" v-html="blog.body">
                </p>
              </div>
  <b-link href="#" class="mega-btn btn-whatsapp d-sm-none"> <i class="fa fa-whatsapp"></i>  Compartilhar no Whatsapp</b-link>
<div class="card-body">
        <p>Fonte: <a href="#">Lorem Ipsum</a></p>

        <Author 
          avatar="https://scontent.fgyn16-1.fna.fbcdn.net/v/t1.0-1/c0.62.160.160a/p160x160/105986922_3214999398539094_7175081472811073821_o.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=rBrqQC-yJ5sAX8QVxxa&_nc_ht=scontent.fgyn16-1.fna&_nc_tp=27&oh=92a62a0ff30fdebee5dc1f3d088b430f&oe=5F9FBAF1" 
          :author="blog.author.name" :bio="blog.author.email"
        />

          <div class="reprimand">
            <b-card>
              Seja sensato, você é responsavél pelo que posta. Comentários que comprometam a ética e imagem da Hall of Justice e também de seus membros, serão jogados na zona fantasma.
            </b-card>
          </div>
          <Disqus shortname="hall-of-justice" />
  </div>
      </b-card>
  </div>
</template>

<script>
import http from '@/http'
import Author from './Author'
import { Disqus } from 'vue-disqus'

export default {
  name: 'blog-article',
  data () {
    return {
      blog: {
        author: {
          name: 'Author',
          avatar: ''
        },
        category: {
          name: ''
        }
      },
      items: [],
      currentUser: {}
    }
  },
  async asyncData({ params }) {
    const { data } = await axios.get(`https://jsonplaceholder.typicode.com/posts/${params.id}`)
     console.log(data)
    return { blog: data }
    console.log(blog)
  },
  methods: {
    getArticle () {
      http.get('blog/post/' + this.$route.params.id)
        .then((response) => {
          var data = response.data
          this.blog = data
          this.items = [
            {
              text: 'Blog',
              to: { name: 'blog' }
            },
            {
              text: 'Categoria',
              to: '#'
            },
            {
              text: data.title,
              active: true
            }
          ]
        })
    }
  },
  mounted () {
    this.getArticle()
  },
  components: { Author, Disqus }

}
</script>
<style lang="scss">
.reprimand .card {
  background: #EFEFEF;
  margin: 2rem 0 3rem 0
}
</style>
