<template lang="html">
  <div class="author" >
    <b-card text-variant="white">
    <b-row>
    <b-col md="3">
    <img :src="avatar" class="rounded-circle" />
  </b-col>
  <b-col md="9">
    <h4>{{author}}</h4>
    <p>
     {{bio}}
    </p>
    <b-link class="btn btn-facebook" href="#">Facebook</b-link>
    <b-link class="btn btn-instragam" href="#">Instagram</b-link>
    <b-link class="btn btn-twitter" href="#">Twitter</b-link>
    <b-link class="btn btn-tvtime" href="#">TvTime</b-link>
  </b-col>
    </b-row>
  </b-card>
  </div>
</template>
<script>
export default {
  props: [
    'avatar',
    'author',
    'bio'
  ]
}
</script>

<style lang="scss">
.author h4 {
  font-weight: 400;
  margin-top: 1rem
}
.author .card {
  background: #1E262B;
}
.author .card-body p {
  color: rgba(255,255,255,.8);
  font-weight: 300
}
.author img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 150px
}
@media only screen and (max-width: 576px) {
  .author .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center
  }
  .author img {
    max-height: 100px
  }
  .author h4 {
    text-align: center;
  }
}
</style>
