<template lang="html">
  <div>
    <b-card no-body tag="article" v-for="blogFeed in blog.data" :key="blogFeed.id">
        <img src="https://images.hdqwalls.com/download/deadpool-movie-4k-et-1920x1080.jpg" :alt="blogFeed.url"/>
        <b-link :to="{name: 'blog-post', params: {id: blogFeed.url}}" class="card-title">
            <h2>{{blogFeed.title}}</h2>
        </b-link>
      <div class="card-body info">
        <b-link href="#" class="chip">
        <img src="https://scontent.fgyn16-1.fna.fbcdn.net/v/t1.0-1/c0.62.160.160a/p160x160/105986922_3214999398539094_7175081472811073821_o.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=rBrqQC-yJ5sAX8QVxxa&_nc_ht=scontent.fgyn16-1.fna&_nc_tp=27&oh=92a62a0ff30fdebee5dc1f3d088b430f&oe=5F9FBAF1" /> {{blogFeed.author.name}}
        </b-link>
        <div class="chip"><i class="material-icons">date_range</i> {{blogFeed.created_at}}
        </div>
        <b-link href="#" class="chip"><i class="material-icons">new_releases</i>{{blogFeed.category.name}}
        </b-link>

        <DisqusCount shortname='hall-of-justice' :identifier="blogFeed.url" />

        <b-link :to="{name: 'blog-post', params: {id: blogFeed.url}}" class="btn btn-primary float-right"> Ler matéria
        </b-link>
      </div>
      <div class="card-body">
          <p>{{blogFeed.description}}</p>
      </div>
    </b-card>

    <b-pagination align="center" :total-rows="blog.meta.total" v-model="blog.meta.current_page" :per-page="blog.meta.per_page"></b-pagination>

  </div>
</template>

<script>
import { DisqusCount } from 'vue-disqus'
import http from '@/http'

export default {
  data () {
    return {
      blog: []
    }
  },
  components: {
    DisqusCount
  },
  methods: {
    getBlogFeed () {
      http.get('/blog')
        .then((response) => {
          this.blog = response.data
          console.log(this.blog)
        })
        .catch(err => console.log(err));
    }
  },
  mounted () {
    this.getBlogFeed()
  }
}
</script>

<style lang="scss">

</style>
