<template lang="html">
  <div>
    <iframe 
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=193227575437426" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <b-card
          img-alt="Image"
          tag="article"
          class="mb-3"
          no-body>
          <img src="http://placehold.it/600x400" />
          <div class="card-body">
            <p>Aqui vem apenas o nome da materia!</p>
          </div>

    <b-link class="mega-btn" style="background: #f1c40f">
      Patrocinado
    </b-link>
  </b-card>
  <b-card
          tag="article"
          class="mb-3"
          no-body>
          <img src="http://placehold.it/600x400" />
          <div class="card-body">
            <p>Aqui vem apenas o nome da materia!</p>
          </div>

    <b-link class="mega-btn">
      Ler materia
    </b-link>
  </b-card>
  </div>
</template>

<script>
export default {
  name: 'blog-aside'
}
</script>

<style lang="scss">
iframe {
  border-radius: 2px
}
</style>
