<template lang="html">
<b-navbar toggleable="md" type="dark" class="navbar-blog">
  <b-container>
  <b-navbar-toggle target="navbar-blog">
    <span class="navbar-toggler-icon"></span>
    Menu
  </b-navbar-toggle>
  <b-collapse is-nav id="navbar-blog">
    <b-navbar-nav>
      <b-nav-item href="#">Home</b-nav-item>
      <b-nav-item href="#">Cinema</b-nav-item>
      <b-nav-item href="#">Séries</b-nav-item>
      <b-nav-item href="#">Games</b-nav-item>
      <b-nav-item href="#">Quadrinhos</b-nav-item>
      <b-nav-item href="#">Netflix</b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-form>
        <b-form-input class="mr-sm-2 input-custom" type="text" placeholder="Buscar no site..."/>
        <b-button class="btn-circle" variant="primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></b-button>
      </b-nav-form>
    </b-navbar-nav>
  </b-collapse>
</b-container>
</b-navbar>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.navbar-blog {
  margin: 0px 0 35px 0;
  background: #414345;
  box-shadow: 0 1px 1px rgba(0,0,0,.1)
}
.navbar {
  padding: 0px
}
.input-custom, .input-custom:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  background: transparent
}
.navbar-blog .nav-item {
  padding: 16px 20px;
  border-left: 8px solid transparent;
}
.navbar-blog .navbar-nav .nav-link {
  color: #fff;
  &:hover {
    color: #fff
  }
}
.navbar-blog .nav-item {
  &:hover{
    background: #2ecc71;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-blog .nav-item {
    padding: 16px 0px;
  }
  .navbar {
    padding: 10px;
    text-align: center;
  }
}
</style>
