<script>
export default {
  methods: {
    toggle () {
      this.$emit('toggle')
    }
  }
}
</script>

<template>
  <div>
    <button class="navbar-toggler"  type="button"  @click="toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <router-link to="/" class="navbar-brand">Hall Forum</router-link>
  </div>
</template>
