<template>
  <ul class="navbar-nav mr-auto">
    <router-link :to="{name: 'dashboard.main'}" class="nav-item" tag="li" exact>
      <a class="nav-link">Home</a>
    </router-link>
    <router-link :to="{name: 'forum.thread'}" class="nav-item" tag="li" exact>
      <a class="nav-link">Forum</a>
    </router-link>
  </ul>
</template>

<script>
export default {}
</script>
