<script>
import Left from './left'
import Brand from './brand'
import Right from './right'
export default {
  name: 'confee-header',
  components: { Left, Brand, Right },
  data () {
    return {isOpen: false}
  },
  methods: {
    onToggleMenu () {
      this.isOpen = !this.isOpen
    }
  },
  computed: {
    myStyle () {
      if (this.isOpen) {
        return { display: 'block' }
      } else {
        return {}
      }
    }
  }
}
</script>

<template>
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
                <Brand @toggle="onToggleMenu" />
            <div class="collapse navbar-collapse " :style="myStyle" :class="{ in: isOpen }">
                <Left />
                <Right />
            </div>
        </div>
    </nav>

</template>
