<template>
  <ul class="nav navbar-nav justify-content-end" >
      <router-link to="/auth" tag="li" class="nav-item" v-if="!isLogged">
         <a class="nav-link">Entrar</a>
      </router-link>
      <li class="nav-item dropdown" ref="dropdownMenu" :style="dpStyle" :class="{ show: isOpenUser }" v-if="isLogged">
          <a href="javascript:;"
          @click="toggleUserMenu"
          class="nav-link dropdown-toggle"> {{ currentUser.name }}</a>
          <ul class="dropdown-menu" :class="{ show: isOpenUser }">
              <li><a class="dropdown-item" href="javascript:;">Action</a></li>
              <li><a class="dropdown-item" href="javascript:;">Another Action</a></li>
              <li><a class="dropdown-item" href="javascript:;">algo a mais</a></li>
              <li role="separator" class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="javascript:;">algo separado</a></li>
          </ul>
      </li>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      isOpenUser: false
    }
  },
  computed: {
    ...mapGetters(['isLogged', 'currentUser']),
    dpStyle () {
      if (this.isOpenUser) {
        return { display: 'block' }
      } else {
        return {}
      }
    }
  },
  methods: {
    toggleUserMenu () {
      this.isOpenUser = !this.isOpenUser
    },
    documentClick (e) {
      let el = this.$refs.dropdownMenu
      let target = e.target
      if (el !== target && !el.contains(target)) {
        this.isOpenUser = false
      }
    }
  },
  created () {
    document.addEventListener('click', this.documentClick)
  },
  destroyed () {
    document.removeEventListener('click', this.documentClick)
  }

}
</script>
