<template>
  <div>
<b-navbar type="dark" variant="dark" toggleable class="navbar-forum">
<b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
<b-collapse is-nav id="nav_dropdown_collapse">
  <b-navbar-nav>
    <b-nav-item :to="{name: 'forum'}">Forum</b-nav-item>
    <b-nav-item href="#">Link</b-nav-item>
  </b-navbar-nav>
</b-collapse>
</b-navbar>
</div>
</template>

<script>

export default {
}
</script>

<style lang="scss">
.navbar-forum {
  margin-bottom: 1rem;
  border-radius: 2px
}
</style>
