<template>
  <div class="thread">
    <b-form>
      <b-card no-body>
        <div class="card-body">
          <b-form-group label="Título">
            <b-form-input type="text"
                          name="title"
                          v-model="thread.title"
                          data-vv-as="título"
                          v-validate="'required'"
                          :class="{'is-invalid': errors.has('title')}"
                          placeholder="Digite o titulo do topico...">
            </b-form-input>
            <span v-show="errors.has('title')" class="invalid-feedback">{{ errors.first('title') }}</span>
          </b-form-group>
          <b-form-group label="Descrição">
            <b-form-input type="text"
                          name="description"
                          v-model="thread.description"
                          data-vv-as="descrição"
                          v-validate="'required'"
                          :class="{'is-invalid': errors.has('description')}"
                          placeholder="Digite uma descrição para topico...">
            </b-form-input>
            <span v-show="errors.has('description')" class="invalid-feedback">{{ errors.first('description') }}</span>
          </b-form-group>
          <vue-editor required min="60" v-model="thread.body" class="mb-3" placeholder="Inicie a discussão!" :editorToolbar="customToolbar"></vue-editor>
        </div>
        <div class="card-body card-action">
          <div class="form-group float-right">
            <b-button @click="onReset" variant="secondary">Resetar</b-button>
            <b-button @click="onSubmit" :disabled="!isValid" variant="primary">Cadastar</b-button>
          </div>
        </div>
      </b-card>
    </b-form>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import { isEmpty } from 'lodash'
import http from '@/http'
export default {
  data () {
    return {
      thread: {
        title: null,
        body: null,
        description: null,
        category_id: this.$route.params.id
      },
      customToolbar: [
        ['bold', 'italic', 'underline', 'strike',],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        ['link', 'video']
      ]
    }
  },
  components: { VueEditor },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      http.post('thread', this.thread)
        .then((response) => {
          this.$swal({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            type: 'success',
            title: ' Parabéns! ' + response.data.info.user.username + ',',
            text: 'seu topico foi criado com sucesso.'
          })
          this.$router.push({name: 'forum-thread', params: { id: response.data.info.id }})
        }, (e) => {
          var error = e.response.data
          console.log(error.errors)
          for (error in error.errors) {
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'error',
              title: error
            })
          }
        })
    },
    onReset (evt) {
      evt.preventDefault()
      this.thread = {}
      this.$validator.reset()
    }
  },
  computed: {
    isValid () {
      const thread = this.thread
      return !isEmpty(thread.title) && !isEmpty(thread.description) && !isEmpty(thread.body)
    }
  }
}
</script>
