<template>
  <div class="thread">
    <b-form>
      <b-card no-body>
        <div class="card-body">
          <b-form-group label="Título">
            <b-form-input type="text"
                          name="title"
                          v-model="thread.title"
                          data-vv-as="título"
                          v-validate="'required'"
                          :class="{'is-invalid': errors.has('title')}"
                          placeholder="Digite o titulo do topico...">
            </b-form-input>
            <span v-show="errors.has('title')" class="invalid-feedback">{{ errors.first('title') }}</span>
          </b-form-group>
          <b-form-group label="Descrição">
            <b-form-input type="text"
                          name="description"
                          v-model="thread.description"
                          data-vv-as="descrição"
                          v-validate="'required'"
                          :class="{'is-invalid': errors.has('description')}"
                          placeholder="Digite uma descrição para topico...">
            </b-form-input>
            <span v-show="errors.has('description')" class="invalid-feedback">{{ errors.first('description') }}</span>
          </b-form-group>
          <vue-editor required min="60" v-model="thread.body" class="mb-3" placeholder="Inicie a discussão!" :editorToolbar="customToolbar"></vue-editor>
        </div>
        <div class="card-body card-action">
          <div class="form-group float-right">
            <b-button @click="onReset" variant="secondary">Resetar</b-button>
            <b-button :disabled="!isValid" variant="primary">Editar</b-button>
          </div>
        </div>
      </b-card>
    </b-form>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import { isEmpty } from 'lodash'
// import http from '@/http'
export default {
  data () {
    return {
      thread: {
        title: null,
        body: null,
        description: null,
        category_id: this.$route.params.id,
        user_id: 1
      },
      customToolbar: [
        ['bold', 'italic', 'underline', 'strike'],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        ['image', 'link', 'video']
      ]
    }
  },
  components: { VueEditor },
  methods: {
    onReset (evt) {
      evt.preventDefault()
      this.thread.title = null
      this.thread.body = null
      this.$validator.reset()
    }
  },
  computed: {
    isValid () {
      const thread = this.thread
      return !isEmpty(thread.title) && !isEmpty(thread.description) && !isEmpty(thread.body)
    }
  }
}
</script>
