<template lang="html">
  <div class="index">
    <b-row>
      <b-col md="9">
        <b-card  class="mb-3" no-body v-for="categories in category" :key="categories.id">
          <h5 class="card-title p-3"><b-link href="#">{{categories.name}}</b-link></h5>
          <div class="card-body">
                {{categories.description}}<br/>
                  <span v-for="subcategories in categories.sub" :key="subcategories.id">
                    <b-link :to="{name: 'forum-threads', params: {id: subcategories.id}}" class="chip"><i class="material-icons">stars</i> {{subcategories.name}}
                    </b-link>
                  </span>
         </div>
        </b-card>
      </b-col>
      <b-col md="3">
      <Aside />
      </b-col>
    </b-row>
  </div>

</template>

<script>
import http from '@/http'
import Aside from '@/app/blog/components/Navigation/Aside'
export default {
  data () {
    return {
      category: []
    }
  },
  components: { Aside },
  mounted () {
    http.get('/forum')
      .then((response) => {
        this.category = response.data
      })
  }
}
</script>

<style lang="scss">
</style>
