<template lang="html">
  <div class="">
    <b-row>
      <b-col md="3">
      </b-col>
      <b-col md="9">
        <b-form>
          <vue-editor v-model="formReply.body" class="mb-3" placeholder="Digite sua resposta!" :editorToolbar="customToolbar"></vue-editor>
          <div class="form-group float-right">
            <b-button @click="onReset" variant="secondary">Resetar</b-button>
            <b-button @click="replySubmit" variant="primary">Responder</b-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
    <b-row v-for="reply in replies" :key="reply.id">
      <b-col md="3" class="text-center">
        <img :src="reply.user.avatar" class="rounded-circle mb-3 min-avatar" alt="">

        <br>
        <h6>{{reply.user.username}}</h6>
        <div class="d-flex justify-content-center">
          <div class="chip" v-if="reply.user.role.title">
            <i class="material-icons">stars</i> {{reply.user.role.title}}
          </div>
        </div>
        <b-dropdown id="ddown-sm" size="sm" text="Ações" class="m-2" variant="link" no-caret>
          <b-dropdown-item href="#"><i class="fa fa-ban" aria-hidden="true"></i> Banir Usuário</b-dropdown-item>
          <b-dropdown-item href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i> Reportar Usuário</b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col md="9">
        <span class="small">{{reply.created_at}} </span><span class="small" v-if="reply.updated_at"> atualizado {{reply.updated_at}}</span>
        <div class="responsive-reply" v-html="reply.body"></div>
        <b-dropdown id="ddown-sm" size="sm" text="Ações" class="float-right" variant="link" no-caret>
          <b-dropdown-item href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Deletar comentário</b-dropdown-item>
          <b-dropdown-item href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i> Reportar comentário</b-dropdown-item>
        </b-dropdown>

      </b-col>
    </b-row>
    <Pagination />
  </div>

</template>

<script>
import http from '@/http'
import { VueEditor } from 'vue2-editor'
export default {
  props: [
    'threadId'
  ],
  data () {
    return {
      replies: [],
      thread_id: this.threadId,
      formReply: {
        body: null,
        thread_id: null
      },
      customToolbar: [
        ['bold', 'italic', 'underline', 'strike'],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        ['link', 'video']
      ]
    }
  },
  components: { VueEditor },
  methods: {
    replySubmit (evt) {
      evt.preventDefault()
      http.post('reply', this.formReply)
        .then((response) => {
          this.getReplies()
          this.formReply.body = null
        })
    },
    getReplies () {
      http.get('replies/' + this.thread_id)
        .then((response) => {
          this.replies = response.data
          this.formReply.thread_id = this.thread_id
        })
    },
    onReset (evt) {
      evt.preventDefault()
      this.formReply.body = null
      this.$validator.reset()
    }
  },
  mounted () {
    this.getReplies()
  }
}
</script>

<style lang="scss">
.min-avatar {
  width: 60px
}
.ql-editor {
  min-height: 120px!important
}
.responsive-reply p img {
  display: block;
  max-width: 100%;
  height: 150px;
  margin: 10px 0;
}
</style>
