<template>
  <div class="threads">
    <b-row>
      <b-col md="9">
        <b-card no-body class="mb-4 rounded comics">
          <div class="card-title py-3 text-center">
      <h1> {{ subcategory.name }} </h1>
      <div class="chip">
        <i class="material-icons">comment</i> {{ subcategory.thread_count }} Topicos
      </div>
          </div>
          <div class="card-footer">
            <h2>{{ subcategory.description }}</h2>
          </div>
        </b-card>
      <b-card v-for="threads in thread" :key="threads.id" class="mb-3" no-body>
        <h5 class="card-title p-3"><b-link :to="{name: 'forum-thread', params: {id: threads.id}}">{{ threads.title }}</b-link></h5>
        <div class="card-body">
              {{ threads.description }}
              </div>
              <div class="card-body description">
                <b-link href="#" class="chip">
                <img :src="threads.user.avatar" /> {{ threads.user.username }}
                </b-link>
                <div class="chip"><i class="material-icons">comment</i> {{ threads.totalReplies }} respostas </div>
                  <div class="chip"><i class="material-icons">visibility</i> 279 visualizações </div>
                  <b-link :to="{name: 'forum-thread', params: {id: threads.id}}" class="btn btn-primary float-right"> Visitar topico
                  </b-link>
              </div>
      </b-card>
    </b-col>
    <b-col md="3">
        <b-link :to="{name: 'forum-addthread'}" class="btn mega-btn mb-3 ml-0"><i class="fa fa-comments-o" aria-hidden="true"></i> Iniciar discussão</b-link>
        <Aside />
    </b-col>
  </b-row>
  </div>
</template>
<script>
import http from '@/http'
import pusher from '@/pusher'
import Aside from '@/app/blog/components/Navigation/Aside'
export default {
  data () {
    return {
      subcategory: [],
      thread: []
    }
  },
  components: { Aside },
  beforeCreate () {
    pusher.subscribe('category.' + this.$route.params.id)
  },
  mounted () {
    this.getThread()
    this.getPusher()
  },
  methods: {
    getThread () {
      http.get('forum/category/' + this.$route.params.id)
        .then((response) => {
          this.subcategory = response.data
          /**
           * mudei aqui pra this.thread so pra testar depois ve se funciona da outra forma
           */
          this.thread = this.subcategory.thread
        })
    },
    getPusher () {
      /**
       * eh função q vai realizar a budega, sem ela o pusher n retorna nada
       */
      var handler = function (e) {
        if (e.thread) {
          alert('Novo Topico na area')
          this.getThread()
        }
      }
      /**
       * pusher(channel, event, function, context)
       * ainda to pensando se mudo o channel pra so thread e o evento pode continuar como newThread msm
       */
      return pusher.bind('newThread', handler, this)
    }
  },
  beforeDestroy () {
    pusher.unsubscribe('category.' + this.$route.params.id)
  }

}
</script>
<style lang="scss">
.comics {
  background-image: url('https://ugc.kn3.net/i/origin/http://www.gran-angular.net/wp-content/img_gran_angular_net2/2013/09/Alcantara_005-2.jpg');
  color: #000;
  background-size: contain;
}
.comics .card-title {
  background-color: rgba(255,255,255,.5)
}
.comics h1 {
  font-size: 32px
}
.comics h2 {
  font-size: 20px
}
.comics .card-footer {
  background: rgba(241, 196, 15,1);
  text-align: center
}
</style>
