<template>
  <div class="thread">
    <b-breadcrumb :items="items" v-if="thread"/>
    <b-card>
      <div class="card-title">
        <h2 class="text-center">{{thread.title}}</h2>
      </div>
      <b-row>
        <b-col md="3" class="text-center mb-3">
          <img :src="user.avatar" class="rounded-circle mb-3 avatar" alt="">
          <br>
          <h6>{{user.username}}</h6>
          <div class="d-flex justify-content-center">
            <div class="chip">
              <i class="material-icons">stars</i> <span v-if="user.role">{{user.role.title}}</span>
            </div>
          </div>
        </b-col>
        <b-col md="9">
          <span class="small">{{thread.created_at}} </span><span class="small" v-if="thread.updated_at">atualizado {{thread.updated_at}}</span>
          <div class="card-text">
            <div v-html="thread.body" class="responsive-body"></div>
          </div>
          <b-dropdown id="ddown-sm" size="sm" text="Ações" class="float-right" variant="link" no-caret>
            <b-dropdown-item href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Deletar tópico</b-dropdown-item>
            <b-dropdown-item href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i> Reportar tópico</b-dropdown-item>
          </b-dropdown>
        </b-col>
      </b-row>
      <Replies :thread-id="thread.id" v-if="thread.id"/>
    </b-card>
  </div>

</template>
<script>
import http from '@/http'
import Replies from './Replies'
export default {
  data () {
    return {
      thread: [],
      user: [],
      items: []
    }
  },
  components: { Replies },
  methods: {
    getThread () {
      http.get('forum/thread/' + this.$route.params.id)
        .then((response) => {
          var data = response.data
          this.thread = data
          this.user = this.thread.user
          this.items = [
            {
              text: 'Forum',
              to: {name: 'forum'}
            },
            {
              text: data.category.name,
              to: {name: 'forum-threads', params: {id: data.category.id}}
            },
            {
              text: data.title,
              active: true
            }
          ]
        })
    }
  },
  mounted () {
    this.getThread()
  }
}
</script>
<style lang="scss">
.avatar {
  width: 120px;
}
.thread .card {
  color: #212121
}
.thread .card-title {
  background: none;
  padding: 1rem 0;
}
.thread .card .row {
  padding: 1rem
}
.responsive-body {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
.responsive-body iframe,
.responsive-body object,
.responsive-body embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.responsive-body img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  margin: 10px 0px;
}
@media only screen and (max-width: 576px) {
  .thread .card .row {
    padding: 0
  }
  .thread .card .card-body {
    padding: .5rem
  }
}
</style>
