<template lang="html">
  <nav>
    <b-container fluid class="header">
      <b-link :to="{name: 'blog'}">
          <img src="http://aonix.com.br/hallweb.png?12344" alt="" class="big-logo">
      </b-link>
    </b-container>
  </nav>
</template>

<script>
export default {
  name: 'blog-header'
}
</script>

<style lang="scss">
nav {
  background-image: url('https://hdqwalls.com/download/justice-league-2017-fan-art-9e-1920x1080.jpg');
  background-size: cover;
  .header {
    padding: 80px;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
  }
  .big-logo {
    height: 80px
  }
}

</style>
