<template lang="html">
    <b-navbar toggleable="md" type="dark" class="navbar-app sticky-top" id="navbar">
      <b-container>
        <b-navbar-brand :to="{name: 'blog'}">
         <img src="@/assets/img/hallweb.png" alt="Hall of Justice" class="logo">
        </b-navbar-brand>

    <b-navbar-toggle target="navbar-app">
      <span class="navbar-toggler-icon"></span>
      Menu
    </b-navbar-toggle>

    <b-collapse is-nav id="navbar-app">
      <b-navbar-nav class="ml-auto">
        <router-link :to="{name: 'blog'}" class="nav-item" tag="li" exact>
          <a class="nav-link">Blog</a>
        </router-link>
        <router-link :to="{name:'civis'}" class="nav-item" tag="li" exact v-if="isLogged">
          <a class="nav-link">Membros</a>
        </router-link>
        <router-link :to="{name:'forum'}" class="nav-item" tag="li" exact v-if="isLogged">
          <a class="nav-link">Forum</a>
        </router-link>
        <router-link :to="{ name: 'contact'}" class="nav-item" tag="li" exact>
          <a class="nav-link">Contato</a>
        </router-link>
        <router-link :to="{ name: 'register'}" class="nav-item" tag="li" exact v-if="!isLogged">
          <a class="nav-link">Cadastrar</a>
        </router-link>
  </b-navbar-nav>
  <b-navbar-nav>
    <router-link :to="{name: 'auth'}" tag="li" class="nav-item" exact v-if="!isLogged">
         <a class="nav-link"><i class="fa fa-user-o" aria-hidden="true"></i> Entrar</a>
    </router-link>
        <b-nav-item-dropdown right tag="li" v-if="isLogged && currentUser" no-caret>
          <template slot="button-content" href="javascript:void(0)">
            <img src="https://placehold.it/100x100" class="rounded-circle avatar-small" />
          </template>
          <b-dropdown-header><img src="https://placehold.it/100x100" class="rounded-circle avatar-dropdown" /> {{currentUser.name}}</b-dropdown-header>
          <b-dropdown-header>{{currentUser.role.title}}</b-dropdown-header>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item :to="{name: 'profile'}">Meu Perfil</b-dropdown-item>
          <b-dropdown-item :to="{name: 'my-threads'}">Meus Tópicos</b-dropdown-item>
          <b-dropdown-item href="#" @click="logout">Sair</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-container>
  </b-navbar>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data: () => ({
    currentUser: {
      name: 'Allan',
      role: {
        title: 'civil'
      }
    }
  }),
  methods: {
    ...mapActions(['logout'])
  },
  computed: {
    ...mapGetters(['isLogged'])
  }
}
</script>

<style lang="scss">
.navbar-app {
  padding: 0;
  background: #36393F;
  margin: 0;
  min-height: 60px;
  font-size: 14px;
  transition: all .3s;
  transition-timing-function: ease-in-out;
}
.navbar-app .navbar-brand {
  padding: 0;
  margin: 0
}
.dropdown-header {
  text-transform: capitalize;
  font: {
    size: 16px;
    weight: 400
  }
  color: #16181b
}
.dropdown-header .avatar-dropdown {
  width: 45px
}
.logo {
  height: 40px;
  float: left;
  padding: 2px 0px;
  transition: all .3s;
  transition-timing-function: ease-in-out;
}
.avatar-small {
  width: 35px;
  padding: 2px 0;
  transition: all .3s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 576px) {
  .navbar-app .nav-item {
    padding: 16px 0;
    font-size: 16px
  }
  .navbar {
    padding: 10px;
    text-align: center;
  }
}
</style>
