<template>
  <div class="auth">
    <router-view></router-view>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'auth',
  computed: {
    ...mapGetters(['isLogged'])
  }
}
</script>
<style lang="scss">
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.auth .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #414141;
    transition: all ease .2s
}
.auth .card {
  width: 22vw;
}

.auth .card .card-body {
  padding: 1rem 1.5rem
}

.auth .card-action {
  background: transparent
}

@media only screen and (max-width: 576px) {
  .auth {
    padding-top: 3rem
  }
  .auth .card {
    width: calc(100vw - 1rem);
    margin:.5rem
  }
}
</style>
