<template lang="html">
  <div>
    <b-form>
      <b-card no-body>
        <div class="card-body">
          <div class="card-title d-flex justify-content-center">
            <croppa v-model="croppa"
             @new-image-drawn="onNewImage" @zoom="onZoom"
             placeholder="Sua imagem de perfil!"
             placeholder-color="#232323" :placeholder-font-size="16" canvas-color="#DDDDDD"
             :img="currentUser.avatar"
             >
           </croppa>
          </div>
          <div class="card-body d-flex justify-content-center">
            <input type="range" @input="onSliderChange" :min="sliderMin" :max="sliderMax" step=".001" v-model="sliderVal">
          </div>
          <div class="card-body d-flex justify-content-center">
            <b-button @click="uploadImage" variant="primary">Salvar Foto</b-button>
          </div>
          <b-form-group label="Biografia">
            <vue-editor v-model="currentUser.bio" class="mb-3" placeholder="Se apresente a comunidade Hall of Justice!" :editorToolbar="customToolbar"></vue-editor>
          </b-form-group>
          <b-form-group label="Nome">
              <input name="name" type="text" data-vv-as="nome" v-validate="'required|alpha_spaces'" v-model="currentUser.name" :class="{ 'form-control': true, 'is-invalid': errors.has('name') }" placeholder="Digite seu nome!">
              <span v-show="errors.has('name')" class="invalid-feedback">{{ errors.first('name')}}</span>
          </b-form-group>
          <b-form-group label="Email">
              <input name="email" type="email" v-validate="'required|email'" v-model="currentUser.email" :class="{ 'form-control': true, 'is-invalid': errors.has('email') }" placeholder="Digite seu email!">
              <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          </b-form-group>
  <b-form-group label="Niveis">
  <b-form-select
          name="role"
          data-vv-as="nivel"
          v-model="currentUser.role.title"
          :class="{ 'is-invalid': errors.has('role') }">
  </b-form-select>
  <span v-show="errors.has('role')" class="invalid-feedback">{{ errors.first('role') }}</span>
</b-form-group>
        </div>
        <div class="card-body card-action">
          <b-form-group class="float-right">
            <b-button @click="onReset" variant="secondary">Resetar</b-button>
            <b-button :disabled="!isValid" @click="onSubmit" variant="primary">Editar Perfil</b-button>
          </b-form-group>
        </div>
      </b-card>
      </b-form>
  </div>

</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'
import 'vue-croppa/dist/vue-croppa.css'
import { VueEditor } from 'vue2-editor'
import http from '@/http'
export default {
  data () {
    return {
      currentUser: {
        role: {}
      },
      croppa: {},
      sliderVal: 0,
      sliderMin: 0,
      sliderMax: 0,
      customToolbar: [
        ['bold', 'italic', 'underline', 'strike']
      ]
    }
  },
  components: { VueEditor },
  methods: {
    ...mapActions(['userAuth']),
    onNewImage () {
      this.sliderVal = this.croppa.scaleRatio
      this.sliderMin = this.croppa.scaleRatio / 2
      this.sliderMax = this.croppa.scaleRatio * 2
    },
    uploadImage (evt) {
      evt.preventDefault()
      let file = this.croppa.generateDataUrl('image/jpeg')
      const FD = new FormData()
      FD.append('image', file)
      http.post('image-upload', FD)
        .then(response => {
          this.$swal({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            type: 'success',
            title: 'Sucesso!',
            text: 'seu avatar foi atualizado.'
          })
          this.userAuth()
          this.croppa.remove()
          // this.$router.go({path: '/user/profile', force: true})
        })
        .catch(e => e.error)
    },
    onSliderChange (evt) {
      var incrment = evt.target.value
      this.croppa.scaleRatio = +incrment
    },

    onZoom () {
      this.sliderVal = this.croppa.scaleRatio
    },
    onSubmit (evt) {
      evt.preventDefault()
      http.post('users/profile', this.currentUser)
        .then(response => {
          this.$swal({
            toast: 'true',
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            title: 'Aew recruta!',
            text: 'seu perfil foi atualizado.'
          })
        })
        .catch(e => e.error)
    },
    onReset (evt) {
      evt.preventDefault()
      this.currentUser = {}
      this.$validator.reset()
    }
  },
  computed: {
    ...mapGetters(['currentUser']),
    isValid () {
      const currentUser = this.currentUser
      return !isEmpty(currentUser.name) && !isEmpty(currentUser.email) && !isEmpty(currentUser.role) && !isEmpty(currentUser.bio)
    }
  }
}
</script>

<style lang="scss">

.croppa-container, canvas {
  border-radius: 50%;
  background: none
}
svg.icon.icon-remove {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  filter: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.ql-editor {
  min-height: 120px!important
}
</style>
