<template>
<b-container>
  <div class="threads">
    <b-row>
      <b-col md="9">
        <b-card no-body class="mb-4 rounded comics">
          <div class="card-title py-3 text-center">
      <h1> Meus Topicos </h1>
      <div class="chip">
        <i class="material-icons">comment</i> {{ currentUser.thread_count }} Topicos
      </div>
          </div>
        </b-card>
      <b-card v-for="threads in thread" :key="threads.id" class="mb-3" no-body>
        <h5 class="card-title p-3"><b-link :to="{name: 'forum-thread', params: {id: threads.id}}">{{ threads.title }}</b-link></h5>
        <div class="card-body">
              {{ threads.description }}
              </div>
              <div class="card-body description">
                <div class="chip"><i class="material-icons">comment</i> {{ threads.replies_count }} respostas </div>
                  <div class="chip"><i class="material-icons">visibility</i> 279 visualizações </div>
                  <b-link :to="{name: 'forum-thread', params: {id: threads.id}}" class="btn btn-primary float-right"> Visitar topico
                  </b-link>
              </div>
      </b-card>
    </b-col>
    <b-col md="3">
        <Aside />
    </b-col>
  </b-row>
  </div>
</b-container>
</template>
<script>
import http from '@/http'
import Aside from '@/app/blog/components/Navigation/Aside'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      user: [],
      thread: [],
      currentUser: {}
    }
  },
  computed: {
    ...mapGetters(['currentUser'])
  },
  components: { Aside },
  mounted () {
    this.getThread()
  },
  methods: {
    getThread () {
      http.get('user/threads')
        .then((response) => {
          this.thread = response.data
          /**
           * mudei aqui pra this.thread so pra testar depois ve se funciona da outra forma
           */
        })
    }
  }
}
</script>
<style lang="scss">
.user .card {
  min-width: auto
}
.comics {
  background-image: url('https://ugc.kn3.net/i/origin/http://www.gran-angular.net/wp-content/img_gran_angular_net2/2013/09/Alcantara_005-2.jpg');
  background-size: contain;
  color: #000;
}
.comics .card-title {
  background-color: rgba(255,255,255,.5)
}
.comics h1 {
  font-size: 32px
}
.comics h2 {
  font-size: 20px
}
.comics .card-footer {
  background: rgba(241, 196, 15,1);
  text-align: center
}
@media only screen and (max-width: 576px) {
  .user .card {
    width: auto;
  }
}
</style>
