<template>
  <b-card class="users">
    <b-container>
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Buscar" class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Buscar usuário..." />
              <b-input-group-append>
                <b-btn variant="primary" :disabled="!filter" @click="filter = ''">Limpar filtro</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Sort" class="mb-0">
            <b-input-group>
              <b-form-select v-model="sortBy" :options="sortOptions">
                <option slot="first" :value="null">Selecione o filtro</option>
              </b-form-select>
              <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Per page" class="mb-0">
            <b-form-select :options="pageOptions" v-model="perPage" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-table show-empty
               stacked="md"
               :items="items"
               :fields="fields"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter"
               :sort-by.sync="sortBy"
               :sort-desc.sync="sortDesc"
               @filtered="onFiltered"
      >
        <template slot="name" slot-scope="row">
               <b-link href="#" class="chip">
                 <img :src="row.value.avatar" :alt="row.value"/>
                 {{row.value}}
               </b-link>
       </template>

        <template slot="isActive" slot-scope="row">
          {{row.value?'Yes :)':'No :('}}
        </template>

        <template slot="role.title" slot-scope="row">
          <div class="chip">
            <i class="material-icons">stars</i> {{row.value}}
          </div>
        </template>

      </b-table>

      <b-col md="12" class="my-3 mt-5">
        <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-container>
  </b-card>

</template>

<style media="screen">
  .users .username div {
    line-height: 32px;
    font-weight: 500;
  }
</style>

<script>
import http from '@/http'
const items = []
export default {
  name: 'civis',
  data () {
    return {
      items: [],
      fields: [
        { key: 'name', label: 'Nome', sortable: true },
        { key: 'username', label: 'Username', sortable: true, 'class': 'username' },
        { key: 'role.title', label: 'Level', sortable: true }
      ],
      currentPage: 1,
      perPage: 30,
      totalRows: items.length,
      pageOptions: [ 20, 40, 60 ],
      sortBy: null,
      sortDesc: false,
      filter: null
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    getUser () {
      http.get('api/users').then((response) => {
        this.items = response.data
      })
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  }
}
</script>
