<template>
  <div>
          <b-form class="auth">
            <b-card no-body>
              <div class="card-logo-content">
                <div class="card-logo">
                  <div class="img-login">
                    <img src="http://aonix.com.br/hallweb.png?12344" alt="">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <b-form-group label="Email">
                    <input name="email" type="email" v-validate="'required|email'" v-model="user.email" :class="{ 'form-control': true }" placeholder="Digite seu email!">
                <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
                </b-form-group>
                <b-form-group label="Senha">
                    <input name="password" data-vv-as="senha" type="password" v-validate="'required'" v-model="user.password" :class="{ 'form-control': true}" placeholder="Digite sua senha!">
                    <span v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</span>
                </b-form-group>
              </div>
              <div class="card-body card-action">
                <b-form-group class="float-right">
                     <b-button @click="onReset" variant="outline-secondary" class="btn-rounded">Resetar</b-button>
                     <b-button  @click="doLogin" :disabled="!isValid" variant="outline-primary" class="btn-rounded">Fazer Login</b-button>
                </b-form-group>
              </div>
             </b-card>
          </b-form>
  </div>
</template>
<style lang="scss">
  .icon {
    margin-right: 4px
  }
  .card-logo {
    background: rgba(0,0,0,.7);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
  }
  .card-logo-content {
    background: url('https://geekandsundry.com/wp-content/uploads/2016/02/DCreadComics.png');
    background-size: cover;
    height: auto;
    margin-bottom: 10px
  }
  .card-logo .img-login img {
    height: 60px;
  }

</style>
<script>
import { mapActions } from 'vuex'
import { isEmpty } from 'lodash'
export default {
  data () {
    return {
      user: {}
    }
  },
  methods: {
    ...mapActions(['attemptLogin']),
    doLogin (evt) {
      evt.preventDefault()
      const user = this.user
      this.attemptLogin({ ...user })
        .then((response) => {
          this.$swal({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            type: 'success',
            title: ' Parabéns!',
            text: 'seja bem vindo ao nosso forum!.'
          })
          this.$router.push('/forum')
        }, (error) => {
          console.log(error)
          this.$swal({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            type: error.status,
            title: ' Erro! ',
            text: error.error
          })
        })
    },
    onReset (evt) {
      evt.preventDefault()
      this.user = {}
      this.$validator.reset()
    }
  },
  computed: {
    isValid () {
      const user = this.user
      return !isEmpty(user.email) && !isEmpty(user.password)
    }
  }
}
</script>
