<template>
  <div>
    <b-form class="auth">
      <b-card class="card-register-content" no-body>
        <div class="card-body">
          <b-form-group label="Nome">
            <input name="name" type="text" data-vv-as="nome" v-validate="'required|alpha_spaces'" v-model="user.name" :class="{ 'form-control': true, 'is-invalid': errors.has('name') }" placeholder="Digite seu nome!">
            <span v-show="errors.has('name')" class="invalid-feedback">{{ errors.first('name')}}</span>
          </b-form-group>
          <b-form-group label="Username">
            <input name="username" type="text" v-validate="'required|min:5|alpha_dash'" v-model="user.username" :class="{ 'form-control': true, 'is-invalid': errors.has('username') }" placeholder="Digite seu username!">
            <span v-show="errors.has('username')" class="invalid-feedback">{{ errors.first('username')}}</span>
          </b-form-group>
          <b-form-group label="Email">
            <input name="email" type="email" v-validate="'required|email'" v-model="user.email" :class="{ 'form-control': true, 'is-invalid': errors.has('email') }" placeholder="Digite seu email!">
            <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          </b-form-group>
          <b-form-group label="Senha">
            <input name="password" type="password" data-vv-as="senha" ref="password" v-validate="'required|min:5'" v-model="user.password" :class="{ 'form-control': true, 'is-invalid': errors.has('password')}" placeholder="Digite sua senha!">
            <span v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</span>
          </b-form-group>
          <b-form-group label="Redigite sua senha">
            <input name="r_password" type="password" v-validate="'confirmed:password'" v-model="user.r_password" :class="{ 'form-control': true, 'is-invalid': errors.has('r_password')}" placeholder="Redigite sua senha!">
            <span v-show="errors.has('r_password')" class="invalid-feedback">{{ errors.first('r_password') }}</span>
          </b-form-group>
        </div>
        <div class="card-body card-action">
          <b-form-group class="float-right">
            <b-button @click="onReset" variant="secondary" class="btn-rounded">Resetar</b-button>
            <b-button @click="onSubmit" :disabled="!isValid" variant="primary" class="btn-rounded">Cadastrar</b-button>
          </b-form-group>
        </div>
      </b-card>
    </b-form>
  </div>
</template>

<style lang="scss">
  .card-register-content {
    background: url('https://the-artifice.com/wp-content/uploads/2017/02/read-comics-superman-700x418.jpg');
    background-size: cover;
    background-position: top;
    transition: all ease .2s
  }
  .card-register-content .card-body {
    background: rgba(255,255,255,.93)
  }
  .card-register-content .form-control {
    background: transparent
  }
  .card-register-content .card-action {
    background: #EFEFEF
  }
</style>

<script>
import { isEmpty } from 'lodash'
import http from '@/http'
export default {
  name: 'register',
  data () {
    return {
      user: {}
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      http.post('api/register', this.user)
        .then((response) => {
          this.$swal({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            type: 'success',
            // title: ' Parabéns ' + response.data.info.username + ',',
            text: 'seu cadastro foi realizado com sucesso!'
          })
          this.$router.push('/auth')
          this.user = {}
          this.$validator.reset()
        })
    },
    onReset (evt) {
      evt.preventDefault()
      this.user = {}
      this.$validator.reset()
    }
  },
  computed: {
    isValid () {
      const user = this.user
      return !isEmpty(user.name) && !isEmpty(user.username) && !isEmpty(user.email) && !isEmpty(user.password) && (user.r_password === user.password)
    }
  }
}

</script>
