<template lang="html">
<div class="forum">
  <b-container>
      <router-view></router-view>
      </b-container>
</div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.index h5 a, .threads h5 a{
color: rgba(0,0,0,.8);
text-decoration: none;
&:hover {
  color: #007BFF
}
}
.small{
font-size: 13px;
color: rgba(0,0,0,.8)
}
</style>
