<template>
  <div class="user">
        <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.user .card {
  min-width: 30vw;
}
@media only screen and (max-width: 576px) {
  .user {
    height: auto
  }
  .user .card {
    width: calc(100vw - 1rem);
  }
}
</style>
