<template lang="html">
  <div>
  <div class="blog">
    <HallHeader />
    <HallNavbar />
    <b-container>
      <b-row>
      <b-col md="9">
          <router-view></router-view>
      </b-col>
      <b-col md="3">
          <HallAside />
      </b-col>
    </b-row>
  </b-container>
  </div>
</div>
</template>

<script>
import HallNavbar from './Navigation/Navbar'
import HallHeader from '@/components/Navigation/Menu/Header/Header'
import HallAside from './Navigation/Aside'

export default {
  name: 'blog',
  components: {
    HallNavbar,
    HallHeader,
    HallAside }
}
</script>

<style media="screen">
.blog .card-title{
width: 100%;
margin-top: -154px;
padding: 1.2rem 0rem;
background: rgba(255,255,255, .7);
transition: all .7s;
text-decoration: none;
text-align: center;
font-weight: 400;
color: #000
}
.blog .card-title:hover {
  background: rgba(255,255,255, .9)
}
.info {
  background: rgba(255,255,255,1);
  border-bottom: 1px solid whitesmoke;
  z-index: 99
}
</style>
