<template>
  <div id="app">
  <HallMenu />
    <router-view></router-view>
  <HallFooter />
  </div>
</template>

<script>
import HallMenu from '../components/Navigation/Menu/Main'
import HallFooter from '../components/Navigation/Footer/Main'
export default {
  name: 'App',
  components: {
    HallMenu,
    HallFooter
  }
}
</script>

<style lang="scss">
@import '../assets/scss/app'
</style>
