<template lang="html">
  <HallFooter />
</template>

<script>
import HallFooter from './Content/Footer'
export default {
  name: 'blog-footer',
  components: { HallFooter }
}
</script>

<style>
</style>
