<template>
  <div>
      <b-form>
        <b-card no-body>
        <div class="card-body">
          <b-form-group label="Nome">
              <input name="name" data-vv-as="nome" type="text" v-validate="'required'" :class="{ 'form-control': true, 'is-invalid': errors.has('name') }" placeholder="Digite seu nome!" v-model="contact.name">
              <span v-show="errors.has('name')" class="invalid-feedback">{{ errors.first('name') }}</span>
          </b-form-group>
            <b-form-group label="Email">
                <input name="email" type="email" v-validate="'required|email'" :class="{ 'form-control': true, 'is-invalid': errors.has('email') }" placeholder="Digite seu email!" v-model="contact.email">
                <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
            </b-form-group>
            <b-form-group label="Motivo">
            <b-form-select
                    v-validate="'required'"
                    name="motive"
                    data-vv-as="motivo"
                    :options="motive"
                    :class="{ 'is-invalid': errors.has('motive') }"
                    v-model="contact.motive">
            </b-form-select>
            <span v-show="errors.has('motive')" class="invalid-feedback">{{ errors.first('motive') }}</span>
    </b-form-group>
    <b-form-group>
      <label for="">Mensagem</label>
      <b-form-textarea
                     type="text"
                     v-validate="'required|min:50'"
                     name="message"
                     data-vv-as="mensagem"
                     v-model="contact.message"
                     placeholder="Digite sua mensagem!"
                     :class="{'is-invalid': errors.has('message') }"
                     :rows="5"
                     :max-rows="10">
    </b-form-textarea>
    <span v-show="errors.has('message')" class="invalid-feedback">{{ errors.first('message') }}</span>
    </b-form-group>
        </div>
        <div class="card-body card-action">
          <b-form-group class="float-right">
            <b-button @click="onReset" variant="secondary">Resetar</b-button>
            <b-button :disabled="!isValid || errors.any()" variant="primary">Enviar</b-button>
          </b-form-group>
        </div>
    </b-card>
 </b-form>
  </div>

</template>

<script>
import { isEmpty } from 'lodash'
export default {
  data () {
    return {
      contact: {
        name: null,
        email: null,
        motive: null,
        message: null
      },
      motive: [
        { text: 'Selecione o Motivo!', value: null },
        'Parcerias', 'Publicidade', 'Criticas e Sugestões', 'Brindes ou Prêmios', 'Outro'
      ]
    }
  },
  methods: {
    onReset (evt) {
      evt.preventDefault()
      this.contact.name = null
      this.contact.email = null
      this.contact.motive = null
      this.contact.message = null
      this.$validator.reset()
    }
  },
  computed: {
    isValid () {
      const contact = this.contact
      return !isEmpty(contact.name) && !isEmpty(contact.email) && !isEmpty(contact.motive) && !isEmpty(contact.message)
    }
  }
}
</script>

<style lang="scss">
</style>
