<template lang="html">
  <footer>
    <h6 class="text-center text-newslleter">Olá civis, que tal assinar nossa newslleter e ficar por dentro de tudo que acontece no hall of justice?</h6>
     <p class="text-center">
      Não se preocupe civil, nosso painel de controle não envia spam!
    </p>
    <div class="newslleter d-flex justify-content-center m-2">
      <b-card>
        <b-form inline>
          <label class="sr-only">Name</label>
          <b-input name="name" data-vv-as="nome" type="text" v-validate="'required'" :class="{ 'mb-2 mr-sm-2 mb-sm-0': true, 'is-invalid': errors.has('name') }" v-model="news.name" placeholder="Nome de civil!" />

          <label class="sr-only">Email</label>
            <b-input name="email" type="email" v-validate="'required|email'" :class="{ 'is-invalid': errors.has('email') }"  v-model="news.email" placeholder="Seu melhor email!" />

          <b-button @click="onReset" class="btn-circle" variant="secondary"><i class="material-icons">
            delete_outline</i></b-button>
          <b-button variant="primary">Newsletter</b-button>
          <!-- <span v-show="errors.has('name')" class="invalid-feedback">{{ errors.first('name') }}</span>
          <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span> -->

        </b-form>
      </b-card>
    </div>
    <b-container>
      <hr>
     <b-row class="mb-5 d-flex justify-content-between">
      <b-col md="4">
<h6>Hall Of Justice</h6>
<p>Hall of Justice nasceu de uma parceria entre amigos que adoram falar sobre cinema, serie e quadrinhos e mangás! A Hall of Justice é a primeira  da iniciativa <a href="#">Hall Group</a>. Todas as imagens e videos possuem direitos autorais de seus respectivos estudios e produtoras.</p>
      </b-col>
      <span class="d-flex justify-content-end col-md-8">
        <div class="col-md-3 col-6">
          <h6>Blog</h6>
          <p><a href="#">Cinema</a></p>
          <p><a href="#">Séries</a></p>
          <p><a href="#">HQ´s & Mangás</a></p>
          <p><a href="#">Games</a></p>
          <p><a href="#">Epicos</a></p>
        </div>
        <div class="col-md-3 col-6">
          <h6>Forum</h6>
          <p><b-link :to="{name: 'auth'}">Login</b-link></p>
          <p><b-link :to="{name: 'register'}">Cadastro</b-link></p>
          <p><a href="#">Meus Tópicos</a></p>
          <p><a href="#">Mais acessados</a></p>
        </div>
        <div class="col-md-3 col-6">
          <h6>Redes Sociais</h6>
          <b-link class="btn-circle btn-facebook" href="#"><i class="fa fa-facebook"></i></b-link>
          <b-link class="btn-circle btn-twitter" href="#"><i class="fa fa-twitter"></i></b-link>
          <b-link class="btn-circle btn-instragam" href="#"><i class="fa fa-instagram"></i></b-link>
        </div>
      </span>

     </b-row>
    </b-container>
    <div class="copyright">
      <b-container>
  © 2018 - Hall of Justice
      </b-container>
    </div>
  </footer>

</template>

<script>
export default {
  data () {
    return {
      news: {
        name: null,
        email: null
      }
    }
  },
  methods: {
    onReset (evt) {
      evt.preventDefault()
      this.news.name = null
      this.news.email = null
      this.$validator.reset()
    }
  }
}
</script>

<style lang="scss">
footer {
  margin-top: 2rem;
  color: rgba(255,255,255,.7);
  padding-top: 2.5rem
}
footer h6 {
  margin-bottom: 1.5rem;
  color: rgba(255,255,255,.9)
}
footer p {
  font-weight: 300;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 22px
}
footer p a{
  color: rgba(163,163,163,1);
  transition: .2s ease;
  &:hover {
    color: #2ecc71;
    text-decoration: none
  }
}
footer hr {
  margin-bottom: 2rem
}
footer .chip {
  background: #222C32;
  color: rgba(255,255,255,.9);
  font-weight: 400;
  &:hover {
    color: rgba(255,255,255,.9)
  }
}
footer .btn-circle {
  float: left;
}

@media only screen and (max-width: 576px) {
  footer {
    text-align: center;
  }
  footer h6 {
    margin-top: 2rem
  }
  footer p {
    margin: 0 10px
  }
  footer hr {
    display: none
  }
}
</style>
